﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Footer.ascx.cs" Inherits="eTag365.UserControls.Footer" %>
<footer class="main-footer">
    <style type="text/css">
        .main-footer {
            clear: both;
            float: left !important;
            width: 100% !important;
        }

        #navFooter {
            /*display:block;*/
        }

        .nav > li {
            float: left;
        }

            .nav > li > a {
                float: left;
            }
    </style>
    <ul id="navFooter" class="nav">
        <li>
            <a href="/">
                <img src="https://www.etag365.net/Images/logo.png" width="50" class="img img-responsive" alt="Logo" />
            </a>
        </li>

        <li><a target="_blank" href="https://etag365.com/howitworks">How It Works</a></li>
        <li><a target="_blank" href="#">Get Started</a></li>
        <li><a target="_blank" href="https://etag365.com/usertermsconditions">Terms & Conditions</a></li>
        <li><a target="_blank" href="https://www.etag365.com/Customer/PolicyAndProcedures">Privacy</a></li>
        <li><a target="_blank" href="https://www.etag365.com/contact">Contact</a></li>
        <li><a target="_blank" href="https://www.etag365.com">eTag365</a></li>
    </ul>

</footer>
