body {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 14px;
}

.td-title-column {
    width: 150px;
}

.td-colon-column {
    width: 3px;
    text-align: center;
}

.td-number-column {
    width: 10px;
    text-align: center;
}

.center-aligned {
    text-align: center;
}

.slateblue {
    color: slateblue;
}

.blanchedalmond {
    background-color: blanchedalmond;
}

h1, h2, h3, h4 {
    margin: 3px;
}

.GroupBold {
    font-weight: bold;
    padding-bottom: 50px;
}

.sign-line {
    color: #f00;
    background-color: black;
    height: 1px;
    width: 100%;
}

.breakhere {
    display: block;
    clear: both;
    page-break-before: always;
}

.nominee-image {
    height: 100px;
}

.customer-image {
    height: 160px;
}

.nominee-column {
    max-width: 150px;
    word-break: break-all;
}

.borderless th, .borderless td {
    border: none !important;
}
