<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--  Add copyright info.   -->
    <add key="copyright" value="Copyright © 2022"/>
    <add key="WebUrl" value="http://localhost:3469"/>
    <!--<add key="WebUrl" value="http://173.248.133.199" />-->
    <add key="ImageFilePath" value="E:\Source\etag365\src\eTag365"/>
    <!--<add key="ImageFilePath" value="C:\inetpub\wwwroot" />-->
    <add key="strMailServer" value="mail.etag365.com"/>
    <add key="strMailUser" value="do_not_reply@etag365.com"/>
    <add key="strMailPassword" value="E365donotreply#809"/>
    <add key="strMailPort" value="587"/>
    <add key="isMailLive" value="true"/>
    <add key="fromAddress" value="do_not_reply@etag365.com"/>
    <add key="toAddress" value="sbutcher@etag365.com"/>
    <add key="ccAddress" value="sbutcher@etag365.com"/>
    <!--<add key="ccAddress" value="aftabudduza@gmail.com" />-->
    <add key="bccAddress" value="aftabudduza@gmail.com"/>
    <add key="Datasource" value="AFTAB-PC\MSSQLSERVER2"/>
    <add key="UserId" value="sa"/>
    <add key="Password" value="1234"/>
    <add key="ConnectionString" value="Server=AFTAB-PC\MSSQLSERVER2;Database=eTag365;User ID=sa;Password=1234;Trusted_Connection=False"/>
    <!--<add key="Datasource" value="173.248.133.199,1533" />
    <add key="UserId" value="sa" />
    <add key="Password" value="et@ag365#etag365" />
    <add key="ConnectionString" value="Server=173.248.133.199,1533;Database=eTag365;User ID=sa;Password=et@ag365#etag365;Trusted_Connection=False" />-->
    <!--  Live Twilio info.   -->
    <!--<add key="TLoginID" value="AC9b28b772a5b48e027934f1822f9af829"/>
    <add key="TProcessingKey" value="34c311a38737d1a567398b442d7eea4d"/>
    <add key="TFromKey" value="+16106386455"/>-->
    <!--  Test Twilio info.   -->
    <add key="TLoginID" value="AC7913998e90413e0a92ed8f5a5fea3d4a"/>
    <add key="TProcessingKey" value="9c12363ec2de02812f4069cce9e2ce4c"/>
    <add key="TFromKey" value="+16305340575"/>
    <!-- forte ACH Live information.  -->
    <add key="MerchantID" value="231278"/>
    <add key="LoginID" value="W3nzeYPLfm"/>
    <add key="ProcessingKey" value="nEJytDzj8dHTCKdGKgBgP"/>
    <!--<add key="LoginID" value="i9Bqep2368"/>
    <add key="ProcessingKey" value="DWnfljwJB313KHc"/>-->
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/2RPOS" value="20751;True;5432;1;-8587745105205163588"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="Model" value="OwnerModel"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="eTagDB" connectionString="Data Source=AFTAB-PC\MSSQLSERVER2;Initial Catalog=eTag365;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
    <add name="TagEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AFTAB-PC\MSSQLSERVER2;initial catalog=eTag365;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="eTagDB" connectionString="Data Source=173.248.133.199,1533;Initial Catalog=eTag365;User ID=sa;Password=et@ag365#etag365" providerName="System.Data.SqlClient" />
    <add name="TagEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.248.133.199,1533;initial catalog=eTag365;persist security info=True;user id=sa;password=et@ag365#etag365;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <expressionBuilders>
        <add expressionPrefix="localizeByText" type="LocalizationExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="52428800" executionTimeout="600" requestValidationMode="2.0"/>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <!--<httpHandlers>
      <add verb="*" path="Default.aspx" type="DomainFilter.DomainHandler, DomainFilter" />
    </httpHandlers>-->
    <sessionState timeout="3600"/>
    <customErrors mode="Off"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <!--<add value="default.aspx" />-->
        <add value="pages/login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000"/>
        <!-- Allow files of upto 50,000,000 bytes (about 50Mb) to be uploaded -->
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>