<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  
  <!--<add name="TagEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aftab-PC;initial catalog=eTag365;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="TagEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AFTAB-PC\MSSQLSERVER2;initial catalog=eTag365;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
